.Pixel-grade-section-div {
  height: 80vh;
}
.Pixel-grade-parent-div {
  width: 95%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-left: auto;
  margin-right: auto;
}
.Pixel-grade-container1 {
  width: 50%;
  height: 450px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  display: flex;
}
.Pixel-grade-container2 {
  width: 50%;
  height: 450px;
  background-color: transparent;
  padding-left: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.Pixel-grade-container1 div {
  width: 360px;
  height: 420px;
}
.Pixel-grade-container1 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Pixel-grade-container2 h1 {
  width: 90%;
}
.Pixel-grade-container2 p {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Pixel-grade-container2 button {
  width: 130px;
  height: 40px;
  background-color: #2ea32e;
  border-radius: 6px;
  border-style: solid;
  border-color: transparent;
  color: white;
}

@media (max-width: 1024px) {
  .Pixel-grade-container2 h1 {
    font-size: x-large;
    width: 100%;
  }
  .Pixel-grade-section-div {
    width: auto;
    height: auto;
  }
  .Pixel-grade-parent-div {
    width: auto;
    height: auto;
  }
  .Pixel-grade-container1 {
    width: auto;
    height: auto;
  }
  .Pixel-grade-container2 {
    height: auto;
    width: auto;
  }
  .Pixel-grade-container2 p {
    font-size: small;
  }
}

@media (max-width: 834px) {
  .Pixel-grade-container2 h1 {
    font-size: large;
    width: 100%;
  }
  .Pixel-grade-section-div {
    width: auto;
    height: auto;
  }
  .Pixel-grade-parent-div {
    width: auto;
    height: auto;
  }
  .Pixel-grade-container1 {
    width: auto;
    height: auto;
  }
  .Pixel-grade-container2 {
    height: auto;
    width: auto;
  }
  .Pixel-grade-container2 p {
    font-size: smaller;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Pixel-grade-section-div {
    width: auto;
    height: auto;
  }
  .Pixel-grade-parent-div {
    width: auto;
    height: auto;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .Pixel-grade-container1 {
    width: auto;
    height: auto;
    margin-top: 30px;
  }
  .Pixel-grade-container2 {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .Pixel-grade-container2 p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .Pixel-grade-section-div {
    width: auto;
    height: auto;
  }
  .Pixel-grade-parent-div {
    width: auto;
    height: auto;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
  .Pixel-grade-container2 h1 {
    font-size: medium;
  }
  .Pixel-grade-container2 {
    width: auto;
    height: auto;
  }
  .Pixel-grade-container1 {
    width: auto;
    height: auto;
    margin-top: 40px;
  }
}
