.Caring-section-div {
  height: 80vh;
}
.Caring-section-Parent-div {
  height: 80vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Caring-section-Parent-div h1 {
  padding-top: 50px;
}
.Caring-section-Parent-div p {
  padding-top: 8px;
  padding-bottom: 25px;
  width: 70%;
  text-align: center;
}
.Caring-section-image-parent-div {
  width: 80%;
  height: 65vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.Caring-section-image-parent-div div {
  width: 300px;
  height: 350px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Caring-section-image-div {
  width: 300px;
  height: 250px;
  background-color: transparent;
  border-radius: 25px;
}
#Caring-section-content-div {
  width: 270px;
  height: 150px;
  background-color: #f3fff3;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 20px;
  position: relative;
  top: -50px;
}
#Caring-section-content-div h3 {
  font-size: 15px;
  text-align: center;
}
#Caring-section-content-div button {
  width: 100px;
  height: 30px;
  background-color: #2ea32e;
  border-color: transparent;
  border-style: solid;
  border-radius: 5px;
  color: white;
}
#Caring-section-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

@media (max-width: 1024px) {
  .Caring-section-div {
    height: auto;
    width: auto;
  }
  .Caring-section-Parent-div {
    height: auto;
    width: auto;
  }
  .Caring-section-Parent-div h1 {
    font-size: x-large;
  }
  .Caring-section-Parent-div p {
    font-size: small;
  }
  .Caring-section-image-parent-div {
    width: auto;
    height: auto;
  }
  .Caring-section-image-parent-div div {
    width: auto;
    height: auto;
  }
  #Caring-section-image-div {
    width: 270px;
    height: 220px;
    border-radius: 25px;
  }
  #Caring-section-content-div {
    width: 210px;
    height: 100px;
    gap: 10px;
  }
  #Caring-section-content-div h3 {
    font-size: 11px;
  }
}

@media (max-width: 834px) {
  .Caring-section-div {
    height: auto;
    width: auto;
  }
  .Caring-section-Parent-div {
    height: auto;
    width: auto;
  }
  .Caring-section-image-parent-div {
    width: auto;
    height: auto;
    gap: 20px;
  }
  .Caring-section-image-parent-div div {
    width: auto;
    height: auto;
  }
  #Caring-section-image-div {
    width: 220px;
    height: 170px;
    border-radius: 15px;
  }
  #Caring-section-content-div {
    width: 180px;
    height: auto;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #Caring-section-content-div h3 {
    font-size: 11px;
  }
  #Caring-section-image-div img {
    border-radius: 15px;
  }
}

@media (max-width: 768px) {
  .Caring-section-div {
    height: auto;
    width: auto;
  }
  .Caring-section-Parent-div {
    height: auto;
    width: auto;
  }
  .Caring-section-image-parent-div {
    width: auto;
    height: auto;
    gap: 20px;
  }
  .Caring-section-image-parent-div div {
    width: auto;
    height: auto;
  }
  #Caring-section-image-div {
    width: 200px;
    height: 150px;
    border-radius: 10px;
  }
  #Caring-section-content-div {
    width: 160px;
    height: auto;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #Caring-section-content-div h3 {
    width: 85%;
  }
  #Caring-section-image-div img {
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .Caring-section-div {
    height: auto;
    width: auto;
  }
  .Caring-section-Parent-div {
    height: auto;
    width: auto;
  }
  .Caring-section-image-parent-div {
    width: 100%;
    height: auto;
    gap: 10px;
    flex-wrap: wrap;
  }
  .Caring-section-image-parent-div div {
    width: 100%;
    height: auto;
  }
  #Caring-section-content-div {
    width: 80%;
    height: auto;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #Caring-section-content-div h3 {
    width: 85%;
  }
  #Caring-section-image-div img {
    border-radius: 10px;
  }
  #Caring-section-image-div {
    width: 100%;
    height: 250px;
    border-radius: 10px;
  }
}
