.Our-clients-section-div {
  height: 35vh;
}
.Our-clients-parent-div {
  height: 35vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.Our-clients-logo-parent-div {
  display: flex;
  align-items: center;
  height: 10vh;
  gap: 40px;
  justify-content: space-evenly;
}
.Our-clients-logo-parent-div div {
  width: 50px;
  height: 50px;
}
.Our-clients-logo-parent-div div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Our-clients-parent-div p {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 1024px) {
  .Our-clients-section-div {
    height: auto;
    width: auto;
  }
  .Our-clients-parent-div {
    height: auto;
    width: auto;
  }
  .Our-clients-parent-div h1 {
    padding-top: 30px;
  }
}

@media (max-width: 834px) {
  .Our-clients-logo-parent-div div {
    width: 40px;
    width: 40px;
  }
  .Our-clients-section-div {
    height: auto;
    width: auto;
  }
  .Our-clients-parent-div {
    width: auto;
    height: auto;
  }
}

@media (max-width: 768px) {
  .Our-clients-logo-parent-div div {
    width: 30px;
    height: 30px;
  }
  .Our-clients-section-div {
    height: auto;
    width: auto;
  }
  .Our-clients-parent-div {
    height: auto;
    width: auto;
  }
  .Our-clients-parent-div h1 {
    font-size: larger;
    padding-top: 10px;
  }
  .Our-clients-parent-div p {
    font-size: small;
  }
  .Our-clients-logo-parent-div {
    gap: 25px;
  }
}

@media (max-width: 480px) {
  .Our-clients-logo-parent-div div {
    width: 22px;
    height: 22px;
  }
  .Our-clients-section-div {
    height: auto;
    width: auto;
  }
  .Our-clients-parent-div {
    height: auto;
    width: auto;
  }
  .Our-clients-parent-div h1 {
    padding-top: 10px;
  }
}
